<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <context-param>
  <param-name>jmesaMessagesLocation</param-name>
  <param-value>com/cetia/sicaco/struts/jmesaResourceBundle</param-value>
 </context-param>
 <context-param>
  <param-name>jmesaPreferencesLocation</param-name>
  <param-value>/com/cetia/sicaco/struts/jmesa.properties</param-value>
 </context-param>
 <!-- MAURICIO JOVEL: DESCOMENTAREAR LAS LINEAS DE ABAJO PARA PODER HABILITAR EL FILTRO DE HIBERANTE -->

 <filter>
  <description>Abre y cierra la sesion por request.</description>
  <display-name>SessionsHibernate</display-name>
  <filter-name>SessionsHibernate</filter-name>
  <filter-class>com.mad.utilidades.filtros.FiltroOpenSession</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>SessionsHibernate</filter-name>
  <url-pattern>*.do</url-pattern>
 </filter-mapping>

 <servlet>
  <servlet-name>worksheet</servlet-name>
  <servlet-class>org.jmesa.worksheet.servlet.WorksheetServlet</servlet-class>
  <init-param>
   <param-name>development</param-name>
   <param-value>false</param-value>
  </init-param>
  <init-param>
   <param-name>reloading</param-name>
   <param-value>false</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>action</servlet-name>
  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
  <init-param>
   <param-name>config</param-name>
   <param-value>/WEB-INF/config/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>debug</param-name>
   <param-value>0</param-value>
  </init-param>
  <init-param>
   <param-name>detail</param-name>
   <param-value>0</param-value>
  </init-param>
  <init-param>
   <param-name>config/seguridad</param-name>
   <param-value>/WEB-INF/config/struts-config-seguridad.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/control</param-name>
   <param-value>/WEB-INF/config/struts-config-control.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/inventario</param-name>
   <param-value>/WEB-INF/config/struts-config-inventario.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/facturacion</param-name>
   <param-value>/WEB-INF/config/struts-config-facturacion.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/orden</param-name>
   <param-value>/WEB-INF/config/struts-config-orden.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/reporte</param-name>
   <param-value>/WEB-INF/config/struts-config-reporte.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cetia_seguridad</param-name>
   <param-value>/WEB-INF/config/struts-config-cetia_seguridad.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/asociados</param-name>
   <param-value>/WEB-INF/config/struts-config-asociados.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cliente</param-name>
   <param-value>/WEB-INF/config/struts-config-cliente.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/cuentaCorriente</param-name>
   <param-value>/WEB-INF/config/struts-config-cuentaCorriente.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/procesosEspeciales</param-name>
   <param-value>/WEB-INF/config/struts-config-procesosEspeciales.xml</param-value>
  </init-param>
  <init-param>
   <param-name>config/contabilidad</param-name>
   <param-value>/WEB-INF/config/struts-config-contabilidad.xml</param-value>
  </init-param>
  <init-param>
   <param-name>development</param-name>
   <param-value>false</param-value>
  </init-param>
  <init-param>
   <param-name>reloading</param-name>
   <param-value>false</param-value>
  </init-param>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>worksheet</servlet-name>
  <url-pattern>*.wrk</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>*.do</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
